<script src="assets/js/main.min.js"></script>

{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}

<!-- <div style="position: fixed;
            bottom: 10px;
            left: 10px;
            width: 180px;   /* 控制实际宽度 */
            height: 130px;  /* 控制实际高度 */
            z-index: 9999;
            transform: scale(0.6);
            transform-origin: bottom left;
            pointer-events: none; /* 防止遮挡点击 */">
  <script type="text/javascript"
          id="clustrmaps"
          src="//clustrmaps.com/map_v2.js?d=Bmh5caoqsoBzhkM4US0IEvmg-GE-3BRI0uWzGKOg1ow&cl=ffffff&w=a">
  </script>
</div> -->