<script src="assets/js/main.min.js"></script>

{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}

<!-- ClustrMaps counter – fixed bottom-left -->
<div style="position: fixed;
            bottom: 10px;
            left: 10px;
            z-index: 9999;
            transform: scale(0.6);
            transform-origin: center;">
  <script type="text/javascript"
          id="clustrmaps"
          src="//clustrmaps.com/map_v2.js?d=Bmh5caoqsoBzhkM4US0IEvmg-GE-3BRI0uWzGKOg1ow&cl=ffffff&w=a">
  </script>
</div>